In [1]:
def findGoldCombinations(rooms, capacity):
    def backtrack(start, target, path):
        if target == 0:
            result.append(path[:])
            return
        for i in range(start, len(rooms)):
            if i > start and rooms[i] == rooms[i - 1]:
                continue
            if rooms[i] > target:
                break
            backtrack(i + 1, target - rooms[i], path + [rooms[i]])

    rooms.sort()
    result = []
    backtrack(0, capacity, [])
    return result


n = int(input().strip())
rooms = list(map(int, input().strip().split()))
capacity = int(input().strip())

combinations = findGoldCombinations(rooms, capacity)

for combo in combinations:
    print(" ".join(map(str, combo)))

 7
 10 1 2 7 6 1 5
 8

1 1 6
1 2 5
1 7
2 6

In [2]:
def maxWaterContainer(height):
    l, r = 0, len(height) - 1
    max_area = 0

    while l < r:
        max_area = max(max_area, min(height[l], height[r]) * (r - l))
        if height[l] < height[r]:
            l += 1
        else:
            r -= 1

    return max_area


n = int(input().strip())
height = list(map(int, input().strip().split()))

result = maxWaterContainer(height)

print(result)

 9
 1 8 6 2 5 4 8 3 7

49

In [6]:
def greet(name):
    print("Hello, " + name + "!")

print(greet("Alice"))
# d

Hello, Alice!
None

In [17]:
fruits = ["Banana", "Cherry","Apple"]
print(fruits[0])      # Access first element
fruits.append("Mango")  # Add new element
print(fruits)
fruits.sort()
fruits.insert(2,"dsf")
fruits[1]= "temp"
fruits.extend([3,4,5,5])
fruits[0:3]
fruits.removeAll(5)
fruits
l1 =[2,3,4]
l2 = [9,5]
l3 = l1+l2
l3

Banana
['Banana', 'Cherry', 'Apple', 'Mango']

AttributeError: 'list' object has no attribute 'removeAll'

In [21]:
for num in range(5):
    print(num)

# Using List Comprehension
squared = [x**2 for x in numbers]
squared

0
1
2
3
4

NameError: name 'numbers' is not defined

In [26]:
nums = [3, 1, 4, 1, 5, 9, 2]

nums.sort(reverse=True)    # Sorts in ascending order
# nums.reverse()
print(nums)# Reverses the list
print(nums.count(1))  # Counts occurrences of 1
print(nums.index(4))  # Returns index of 4

[9, 5, 4, 3, 2, 1, 1]
2
2

In [32]:
new_list = nums.copy()
n2  = nums# Creates a separate copy
cloned_list = nums[:]   # Another way to copy
import copy
deep_copy_list = copy.deepcopy(nums)  # For nested lists
print(new_list is nums)
print(n2 is nums)

False
True

In [35]:
my_dict = set()
print(type(my_dict))

<class 'set'>

In [42]:
# Empty dictionary
my_dict = {}

# Dictionary with values
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

# Dictionary with different types of keys
mixed_keys = {
    1: "One",
    "two": 2,
    (3, 4): "Tuple Key"
}

# Nested dictionary
student = {
    "name": "John",
    "marks": {"math": 90, "science": 85}
}

print(person["name"])  # Alice
print(person.get("age"))  # 25 (Safe way to access keys)
# print(person.get("gender", "Not specified"))  # Default value if key not found
print(student.get("name"))
print(student.get("rank" ,"Not"))
student["name"] = "sdfg"
student["Rank"] = 345
student

Alice
25
John
Not

{'name': 'sdfg', 'marks': {'math': 90, 'science': 85}, 'Rank': 345}

In [46]:
# for key in student:
#     print(key, student[key])
for key in student.values():
    print(key)

# for key, value in person.items():
#     print(key, ":", value)

sdfg
{'math': 90, 'science': 85}
345

In [58]:
# squared_numbers = {x: x**2 for x in range(1, 6)}
# Output: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
l = {x:x**2 for x in range(10) if x%2==0}
print(l.values())
print(l.keys())
print(l.items())
print((0,0) in l.items())

dict_values([0, 4, 16, 36, 64])
dict_keys([0, 2, 4, 6, 8])
dict_items([(0, 0), (2, 4), (4, 16), (6, 36), (8, 64)])
True

In [72]:
try:
    num = int(input("Enter a number: "))
    result = 10 / num
    # result = result + "asdfg"
    print(result)
except ValueError:
    print("Invalid input! Please enter a number.")
except ZeroDivisionError:
    print("Cannot divide by zero!")
except TypeError:
    print("string and integer not addition!")
else:
    print("rtj")
finally:
    print("Execution completed.")

Enter a number:  0

Cannot divide by zero!
Execution completed.