In [26]:
import pandas as pd

data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace', 'Hannah'],
    'Department': ['HR', 'IT', 'IT', 'HR', 'Finance', 'Finance', 'IT', 'HR'],
    'Age': [25, 32, 29, 41, 37, 45, 26, 38],
    'Salary': [50000, 70000, 65000, 80000, 75000, 90000, 62000, 85000],
    'Experience': [2, 7, 5, 15, 10, 20, 3, 12]
}

df = pd.DataFrame(data)
print("Average Salary of employees in Each Department")
print(round(df.groupby("Department")["Salary"].mean(),2))
print("\nHigh-Paid employee in each Department\n", df.loc[df.groupby("Department")["Salary"].idxmax()])
filtered = df[(df['Experience']>5)&(df['Salary']>65000)].shape[0]
print("\nNumber of Employees which are 5+ Experience and Salary above 65000 :",filtered)
print()
def categorize_experience(exp):
    if exp < 5:
        return "Junior"
    elif 5 <= exp <= 10:
        return "Mid-Level"
    else:
        return "Senior"

df['Seniority'] = df['Experience'].apply(categorize_experience)
print(df)
sortITemployee = df[df['Department']=='IT'].sort_values(by='Salary',ascending=False)
print("\nIT department employees Descending order list\n",sortITemployee)

Average Salary of employees in Each Department
Department
Finance    82500.00
HR         71666.67
IT         65666.67
Name: Salary, dtype: float64

High-Paid employee in each Department
   Employee Department  Age  Salary  Experience
5    Frank    Finance   45   90000          20
7   Hannah         HR   38   85000          12
1      Bob         IT   32   70000           7

Number of Employees which are 5+ Experience and Salary above 65000 : 5

  Employee Department  Age  Salary  Experience  Seniority
0    Alice         HR   25   50000           2     Junior
1      Bob         IT   32   70000           7  Mid-Level
2  Charlie         IT   29   65000           5  Mid-Level
3    David         HR   41   80000          15     Senior
4     Emma    Finance   37   75000          10  Mid-Level
5    Frank    Finance   45   90000          20     Senior
6    Grace         IT   26   62000           3     Junior
7   Hannah         HR   38   85000          12     Senior

IT department employees Descending order list
   Employee Department  Age  Salary  Experience  Seniority
1      Bob         IT   32   70000           7  Mid-Level
2  Charlie         IT   29   65000           5  Mid-Level
6    Grace         IT   26   62000           3     Junior